<%= form_for(@mobile) do |f| %>
  <% if @mobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile.errors.count, "error") %> prohibited this mobile from being saved:</h2>

      <ul>
      <% @mobile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , :class => 'input-xlarge', placeholder: 'Type Mobile Name'%>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model , :class => 'input-xlarge', placeholder: 'Type Mobile Model' %>
  </div>
  <div class="actions">
    <%#= f.submit "Update", class: 'btn btn-large' %>
  <%= f.submit %> 
 </div>
<% end %>
